{% extends "base.html" %}
{% block inicio %}

    <div class="b-example-divider">
        <h1 class="text-center fst-italic">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bi bi-pencil-square"/>
            </svg>
            Modificar.
        </h1>
    </div>


   <div class="container d-flex align-items-center justify-content-center vh-100 fst-italic text-black bg-light">
         <div class="row">
             <div class="col-xl-9 col-lg-10">
                 <table class="table table-striped table-sm">
                    <form class="text-center py-lg-3 " method="post">
                         <h1>Formulario</h1>
                         {% csrf_token %}
                         {{ servicioform.as_p }}
                        <input class="fst-italic" type="submit" value="Guardar Datos"/>
                    </form>
                 </table>
            </div>
         </div>
    </div>

{% endblock %}